input {
    border: 1px solid transparent;
    background-color: #628194;
    padding: 10px;
    font-size: 20px;
    outline: 0;
    color: #fff;
}

input[type=text] {
    background-color: #628194;
    width: 100%;
    color: #ffffff;
}

.no-suggestions {
    color: rgb(204, 204, 204);
    padding: 0.5rem;
}

.suggestions {
    border: 1px solid #628194;
    border-top-width: 0;
    list-style: none;
    margin-top: 0;
    max-height: 20em;
    overflow-y: auto;
    padding-left: 0;
    width: 17em;
}

.suggestions li {
    padding: 0.25rem;
}

.suggestion-active,
.suggestions li:hover {
    background-color: #485f6d;
    color: #1b2227;
    cursor: pointer;
    font-weight: 600;
    border: 0;
}

.suggestions li {
    border-bottom: 1px solid #628194;
    color: #1b2227;
}