.MainWrapper {
    display: flex;
    flex-flow: row wrap;
    z-index: 10;
    padding-top: 8vh;
}

.autocomplete {
    position: absolute;
    width: 20em;
    z-index: 10;
    padding-top: 4vh;
    right: 10.75vw;
}

h3 {
    position: relative;
    left: 3vw;
    padding: 0;
    color: #e0dfdc;
    background-color: #374954;
    font-size: 3em;
    letter-spacing: 0.1em;
    text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212, 0 22px 30px rgba(0, 0, 0, 0.9);
}


h5 {
    position: relative;
    left: 3vw;
    opacity: 0.5;
    padding: 0;
    color: #fff;
    text-shadow: 1px 1px 3px #000;
    text-align: center;
}

input[type=reset] {
    position: relative;
    right: -4vw;
    padding-left: 3em;
    padding-right: 3em;
    background-color: #FF3030;
    color: #fff;
    cursor: pointer;
    border-radius: 0.25em;
    text-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 5px #000;
    outline: 0;
}

input[type=reset]:hover {
    background-color: rgb(184, 34, 34)
}

input[type=reset]:active {
    background-color: rgb(184, 34, 34);
    box-shadow: 1px 1px 5px #000;
    transform: translateY(3px);
    outline: 0;
}

input[type=submit] {
    position: relative;
    right: -2vw;
    padding-left: 3em;
    padding-right: 3em;
    background-color: rgb(33, 199, 111);
    color: #fff;
    cursor: pointer;
    border-radius: 0.25em;
    text-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 5px #000;
    outline: 0;
}

input[type=submit]:hover {
    background-color: rgb(2, 161, 77);
}

input[type=submit]:active {
    background-color: rgb(2, 161, 77);
    box-shadow: 1px 1px 5px #000;
    transform: translateY(3px);
    outline: 0;
}

input {
    border: 1px solid transparent;
    background-color: #628194;
    padding: 0.5em;
    font-size: 1em;
    outline: 0;
    color: #fff;
}

input[type=text] {
    background-color: #628194;
    width: 100%;
    color: #ffffff;
}

.no-suggestions {
    color: rgb(204, 204, 204);
    padding: 0.5rem;
}

.suggestions {
    border: 1px solid #628194;
    border-top-width: 0;
    list-style: none;
    margin-top: 0;
    max-height: 20em;
    overflow-y: auto;
    padding-left: 0;
    width: 19em;
}

.suggestion-active,
.suggestions li:hover {
    background-color: #485f6d;
    color: #ffffff;
    cursor: pointer;
    font-weight: 600;
    border: 0;
}

.suggestions li {
    border-bottom: 1px solid #628194;
    color: #ffffff;
    padding: 0.25rem;
}

#autoCompleteEnter::placeholder {
    color: #ffffff;
    opacity: 1;
}