.MainWrapper {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    z-index: 10;
}

.autocomplete {
    position: absolute;
    width: 20em;
    z-index: 10;
    padding: 2vh;
    right: 12vw;
}

h3 {
    padding: 0;
    color: #fff;
    text-shadow: 1px 1px 3px #000;
}

input[type=reset] {
    position: relative;
    right: -7vw;
    padding-left: 3em;
    padding-right: 3em;
    background-color: #FF3030;
    color: #fff;
    cursor: pointer;
    border-radius: 0.25em;
    text-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 5px #000;
    outline: 0;
}

input[type=reset]:hover {
    background-color: rgb(184, 34, 34)
}

input[type=reset]:active {
    background-color: rgb(184, 34, 34);
    box-shadow: 1px 1px 5px #000;
    transform: translateY(3px);
    outline: 0;
}

input[type=submit] {
    position: relative;
    right: -6vw;
    padding-left: 3em;
    padding-right: 3em;
    background-color: #6BBE92;
    color: #fff;
    cursor: pointer;
    border-radius: 0.25em;
    text-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 5px #000;
    outline: 0;
}

input[type=submit]:hover {
    background-color: rgb(76, 204, 136)
}

input[type=submit]:active {
    background-color: #6BBE92;
    box-shadow: 1px 1px 5px #000;
    transform: translateY(3px);
    outline: 0;
}

input {
    border: 1px solid transparent;
    background-color: #628194;
    padding: 0.5em;
    font-size: 1em;
    outline: 0;
    color: #fff;
}

input[type=text] {
    background-color: #628194;
    width: 100%;
    color: #ffffff;
}

.no-suggestions {
    color: rgb(204, 204, 204);
    padding: 0.5rem;
}

.suggestions {
    border: 1px solid #628194;
    border-top-width: 0;
    list-style: none;
    margin-top: 0;
    max-height: 20em;
    overflow-y: auto;
    padding-left: 0;
    width: 19em;
}

.suggestion-active,
.suggestions li:hover {
    background-color: #485f6d;
    color: #ffffff;
    cursor: pointer;
    font-weight: 600;
    border: 0;
}

.suggestions li {
    border-bottom: 1px solid #628194;
    color: #ffffff;
    padding: 0.25rem;
}

#autoCompleteEnter::placeholder {
    color: #ffffff;
    opacity: 1;
}