.mapContainer {
    margin-left: 5vw;
    height: 60vh;
    width: 50vw;
    border-radius: 0.25em;
    position: relative;
    box-shadow: 2px 2px 5px #000;
}

.sidebarStyle {
    display: inline-block;
    width: 24vw;
    margin: 1vh;
    margin-left: 8vw;
    background-color: #628194;
    box-shadow: 1px 1px 3px #000;
    border-radius: 0.25em;
    color: #ffffff;
    font-size: 0.75em;
    z-index: 1 !important;
    padding: 5px;
}